<div class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-capitalize">Danh sách bài test</h4>
        <button
            class="btn btn-sm btn-success"
            (click)="openAddClassRoomModal()"
        >
            <fa-icon [icon]="'plus'" class="me-2"></fa-icon>
            <span class="text-capitalize"> Thêm bài test</span>
        </button>
    </div>
    <div style="height: 300px">
        <testing-grid
            [rowData]="testings"
            (afterUpdate)="afterUpdateClassRoom()"
        ></testing-grid>
    </div>
</div>
