<div class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-capitalize">Danh sách câu hỏi</h4>
        <button class="btn btn-sm btn-success" (click)="openAddQuestionModal()">
            <fa-icon [icon]="'plus'" class="me-2"></fa-icon>
            <span class="text-capitalize"> Thêm câu hỏi</span>
        </button>
    </div>
    <div style="height: 300px">
        <question-grid
            [rowData]="questions"
            (afterUpdate)="afterUpdateClassRoom()"
        ></question-grid>
    </div>
</div>
