<form [formGroup]="formGroup" class="d-flex flex-column row-gap-20px">
    <div class="row">
        <div class="col-md-12">
            <ecm-input
                [label]="'Mật khẩu hiện tại'"
                [type]="'password'"
                [required]="true"
                [placeholder]="'Nhập mật khẩu hiện tại'"
                formControlName="currentPassword"
                [errorsMessage]="{
                    required: 'Mật khẩu hiện tại không được trống'
                }"
            ></ecm-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ecm-input
                [label]="'Mật khẩu mới'"
                [type]="'password'"
                [required]="true"
                [placeholder]="'Nhập mật khẩu mới'"
                formControlName="newPassword"
                [errorsMessage]="{
                    required: 'Mật khẩu hiện tại không được trống',
                    minlength: 'Mật khẩu mới tối thiểu 8 ký tự'
                }"
            ></ecm-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ecm-input
                [label]="'Xác nhận mật khẩu mới'"
                [type]="'password'"
                [required]="true"
                [placeholder]="'Nhập lại mật khẩu mới'"
                formControlName="repeatPassword"
                [errorsMessage]="{
                    required: 'Mật khẩu hiện tại không được trống',
                    minlength: 'Mật khẩu mới tối thiểu 8 ký tự',
                    notEquivalent: 'Mật khẩu không khớp'
                }"
            ></ecm-input>
        </div>
    </div>
</form>
