<form class="form-default" [formGroup]="loginFormGroup" (submit)="login()">
    <div class="login-form">
        <h2>Đăng nhập</h2>
        <div class="form-input">
            <label for="name">Tên đăng nhập</label>
            <input formControlName="username" />
        </div>
        <div class="form-input">
            <label for="name">Mật khẩu</label>
            <input type="password" formControlName="password" />
        </div>
        <div class="form-input pt-30">
            <input type="submit" name="submit" value="Đăng nhập" />
        </div>
        <a
            class="text-decoration-underline text-center d-block w-100"
            [routerLink]="['/xac-thuc', 'dang-ky']"
            >Chưa có tài khoản?</a
        >
    </div>
</form>
