<modal-wrapper [readonly]="true" headerTitle="Tài liệu học tập">
    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Tải xuống</th>
                <th>Ngày tải lên</th>
                <th>Người tải lên</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p class="text-primary">tuvung.pdf</p>
                </td>
                <td>
                    <a class="text-primary" href="#">Tải xuống</a>
                </td>
                <td>20/05/2024</td>
                <td>giaovien1</td>
            </tr>
        </tbody>
    </table>
</modal-wrapper>
