<search-wrapper [formGroup]="formGroup" class="d-flex flex-column row-gap-3">
    <div class="row row-gap-3">
        <div class="col-md-4">
            <fms-input
                [label]="'Họ và tên'"
                [placeholder]="'Nhập họ và tên'"
                formControlName="name"
            ></fms-input>
        </div>

        <div class="col-md-4">
            <fms-select
                label="Trạng thái"
                formControlName="status"
            ></fms-select>
        </div>
    </div>
</search-wrapper>
