<div class="py-5">
    <div class="container">
        <h1>Câu hỏi</h1>
        <div class="d-flex flex-column gap-3">
            <div
                class="border p-3 border-success border-2"
                *ngFor="let q of questions; let i = index"
            >
                <question [index]="i" [item]="q"></question>
            </div>
        </div>
        <div class="mt-3 d-flex gap-3">
            <button class="genric-btn success radius">Kiểm tra kết quả</button>
            <button class="genric-btn success-border radius">
                Lưu kết quả
            </button>
        </div>

        <div class="border p-3 mt-3">
            <testing-result></testing-result>
        </div>
    </div>
</div>
