.video-wrapper {
    position: absolute;
    z-index: -1;
    inset: 0px;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: none;

    video {
        margin: auto;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
        opacity: 1;
        width: 1368px;
        height: auto;
    }
}
