<div class="d-flex flex-column row-gap-60px">
    <!-- Courses area start -->
    <div class="courses-area fix">
        <div class="container">
            <div class="row justify-content-center">
                <div
                    class="section-tittle d-flex justify-content-between align-items-center"
                >
                    <h2>Khóa học</h2>
                    <a [routerLink]="'khoa-hoc'" class="text-dark">Xem thêm</a>
                </div>
            </div>
            <div class="courses-actives">
                <ng-container *ngIf="$course | async as courses">
                    <ecm-carousel
                        [itemTemplate]="courseTemplate"
                        [data]="courses"
                        [trackByFn]="courseTrack"
                    >
                        <ng-template #courseTemplate let-item="item">
                            <course-item [item]="item"></course-item>
                        </ng-template>
                    </ecm-carousel>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- Courses area End -->
    <!--? About Area-1 Start -->
    <section class="about-area1 fix">
        <div class="support-wrapper align-items-center">
            <div class="left-content1">
                <div class="about-icon">
                    <img src="assets/img/icon/about.svg" alt="" />
                </div>
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2 class="">
                            Learn new skills online with top educators
                        </h2>
                        <p>
                            The automated process all your website tasks.
                            Discover tools and techniques to engage effectively
                            with vulnerable children and young people.
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="" />
                    </div>
                    <div class="features-caption">
                        <p>
                            Techniques to engage effectively with vulnerable
                            children and young people.
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="" />
                    </div>
                    <div class="features-caption">
                        <p>
                            Join millions of people from around the world
                            learning together.
                        </p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="" />
                    </div>
                    <div class="features-caption">
                        <p>
                            Join millions of people from around the world
                            learning together. Online learning is as easy and
                            natural.
                        </p>
                    </div>
                </div>
            </div>
            <div class="right-content1">
                <!-- img -->
                <div class="right-img">
                    <img src="assets/img/gallery/about.png" alt="" />
                </div>
            </div>
        </div>
    </section>

    <!--? About Area-3 Start -->
    <section class="about-area3 fix">
        <div class="support-wrapper align-items-center">
            <div class="right-content3">
                <!-- img -->
                <div class="right-img">
                    <img src="assets/img/gallery/about3.png" alt="" />
                </div>
            </div>
            <div class="left-content3">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-20">
                    <div class="front-text">
                        <h2 class="">
                            Learner outcomes on courses you will take
                        </h2>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="" />
                    </div>
                    <div class="features-caption">
                        <p>
                            Techniques to engage effectively with vulnerable
                            children and young people.
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="" />
                    </div>
                    <div class="features-caption">
                        <p>
                            Join millions of people from around the world
                            learning together.
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="assets/img/icon/right-icon.svg" alt="" />
                    </div>
                    <div class="features-caption">
                        <p>
                            Join millions of people from around the world
                            learning together. Online learning is as easy and
                            natural.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
