<div class="d-flex flex-column row-gap-2">
    <div class="d-flex flex-row">
        <div class="d-flex align-items-center pe-2">
            <input
                class="form-check-input"
                type="radio"
                value="vnpay"
                [(ngModel)]="methodPayment"
            />
        </div>
        <div class="rounded border d-flex w-100 p-3 align-items-center">
            <p class="mb-0">
                <img
                    [src]="'assets/img/icon/vnpay.svg'"
                    [alt]="'vnpay logo'"
                    width="80px"
                />
            </p>
        </div>
    </div>
</div>
