<div class="d-flex flex-column row-gap-2">
    <div class="d-flex flex-row" *ngFor="let mp of methodPaymentList">
        <div class="d-flex align-items-center pe-2">
            <input
                class="form-check-input"
                type="radio"
                [value]="mp.code"
                [(ngModel)]="methodPayment"
                (ngModelChange)="change.emit($event)"
            />
        </div>
        <div class="rounded border d-flex w-100 p-3 align-items-center">
            <p class="mb-0">
                <img [src]="mp.image" [alt]="mp.code" width="80px" />
            </p>
        </div>
    </div>
</div>
