<div class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-capitalize"></h4>
        <div class="d-flex gap-2">
            <button
                *ngIf="role !== studentRole"
                class="btn btn-sm btn-success"
                (click)="openAddUserModal()"
            >
                <fa-icon [icon]="'plus'" class="me-2"></fa-icon>
                <span class="text-capitalize"> Thêm người dùng</span>
            </button>

            <button
                *ngIf="role !== adminRole"
                class="btn btn-sm btn-success"
                (click)="openAssign()"
            >
                <fa-icon [icon]="'plus'" class="me-2"></fa-icon>
                <span class="text-capitalize"> Xếp lịch</span>
            </button>
        </div>
    </div>
    <div style="height: 300px">
        <user-grid [rowData]="users" (afterUpdate)="updateUser()"></user-grid>
    </div>
</div>
