<div class="d-flex flex-column gap-4 h-100">
    <ecm-box>
        <user-form-search (search)="ngOnSearch($event)"></user-form-search>
    </ecm-box>
    <ecm-box>
        <div class="d-flex flex-column row-gap-4 h-100">
            <user-grid-wrapper
                [users]="users"
                [role]="role"
                (createNew)="paginate(this.pagination)"
            ></user-grid-wrapper>
            <pagination
                [pagination]="pagination"
                (pageSizeChange)="paginate($event)"
                (paginate)="paginate($event)"
            ></pagination>
        </div>
    </ecm-box>
</div>
