<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Khóa học của chúng tôi</h2>
                </div>
            </div>
        </div>
        <ng-container *ngIf="$course | async as courses">
            <course-item-container [data]="courses"></course-item-container>
        </ng-container>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mt-40">
                    <button
                        *ngIf="baseSearchRequest.pageNo < totalPage"
                        class="border-btn"
                        (click)="loadMore()"
                    >
                        Xem thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
