<form class="user" [formGroup]="registerFormGroup">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input
                type="text"
                class="form-control form-control-user"
                [placeholder]="'AUTH.FIRST_NAME' | translate"
                formControlName="firstName"
            />
        </div>
        <div class="col-sm-6">
            <input
                type="text"
                class="form-control form-control-user"
                [placeholder]="'AUTH.LAST_NAME' | translate"
                formControlName="lastName"
            />
        </div>
    </div>
    <div class="form-group">
        <input
            type="email"
            class="form-control form-control-user"
            [placeholder]="'AUTH.EMAIL' | translate"
            formControlName="email"
        />
    </div>
    <div class="form-group">
        <input
            type="password"
            class="form-control form-control-user"
            [placeholder]="'AUTH.PASSWORD' | translate"
            formControlName="password"
        />
    </div>
    <button class="btn btn-primary btn-user w-100 text-capitalize">
        {{ 'AUTH.REGISTER' | translate }}
    </button>
</form>
