<div>
    <label
        *ngIf="label"
        class="fw-semibold text-capitalize"
        [class.required]="required"
        >{{ label }}</label
    >
    <ng-select
        [items]="items"
        [groupBy]="group"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [placeholder]="placeholder"
        [multiple]="multiple"
        [closeOnSelect]="!multiple"
        [clearable]="clearable"
        [(ngModel)]="value"
        (blur)="markAsTouched()"
        (ngModelChange)="onChangeValue()"
        [disabled]="isDisabled"
    >
        <ng-container *ngFor="let tmp of templates" [ngSwitch]="tmp.name">
            <ng-template
                *ngSwitchCase="'ng-option-tmp'"
                ng-option-tmp
                let-item="item"
                let-index="index"
            >
                <ng-container
                    [ngTemplateOutlet]="tmp.templateRef"
                    [ngTemplateOutletContext]="{ item: item, index: index }"
                ></ng-container>
            </ng-template>

            <ng-template
                *ngSwitchCase="'ng-optgroup-tmp'"
                ng-optgroup-tmp
                let-item="item"
                let-index="index"
            >
                <ng-container
                    [ngTemplateOutlet]="tmp.templateRef"
                    [ngTemplateOutletContext]="{ item: item, index: index }"
                ></ng-container>
            </ng-template>

            <ng-template
                *ngSwitchCase="'ng-label-tmp'"
                ng-label-tmp
                let-item="item"
                let-index="index"
                let-clear="clear"
            >
                <ng-container
                    [ngTemplateOutlet]="tmp.templateRef"
                    [ngTemplateOutletContext]="{
                        item: item,
                        index: index,
                        clear: clear
                    }"
                ></ng-container>
            </ng-template>
        </ng-container>
    </ng-select>
</div>
<div *ngIf="control && control.touched && control.invalid">
    <div *ngFor="let err of control.errors | keyvalue">
        <div
            *ngIf="err.value && errorsMessage?.[err.key]"
            class="text-danger fw-semibold text-capitalize"
        >
            {{ errorsMessage[err.key] | translate }}
        </div>
    </div>
</div>
