<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2 text-capitalize">
            {{ 'FORGOT_PASSWORD.TITLE' | translate }}?
        </h1>
        <p class="mb-4 text-capitalize">
            {{ 'FORGOT_PASSWORD.SUB_TITLE' | translate }}
        </p>
    </div>
    <forgot-password-form></forgot-password-form>
    <hr />
    <div class="text-center">
        <a class="small text-capitalize" [routerLink]="'/auth/login'"
            >{{ 'AUTH.CREATE_AN_ACC' | translate }}!</a
        >
    </div>
    <div class="text-center">
        <a class="small text-capitalize" [routerLink]="'/auth/register'"
            >{{ 'AUTH.ALREADY_ACC' | translate }}!</a
        >
    </div>
</div>
