<div class="d-flex flex-column gap-4 h-100">
    <ecm-box>
        <testing-form-search
            (search)="ngOnSearch($event)"
        ></testing-form-search>
    </ecm-box>
    <ecm-box>
        <div class="d-flex flex-column row-gap-4 h-100">
            <testing-grid-wrapper
                [testings]="testings"
                (createNew)="paginate(this.pagination)"
            ></testing-grid-wrapper>
            <pagination
                [pagination]="pagination"
                (pageSizeChange)="paginate($event)"
                (paginate)="paginate($event)"
            ></pagination>
        </div>
    </ecm-box>
</div>
