<div class="bg-gradient-primary vh-100">
    <div class="container h-100">
        <!-- Outer Row -->
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div
                                class="col-lg-6 d-none d-lg-block bg-login-image"
                            ></div>
                            <div class="col-lg-6">
                                <div
                                    class="w-100 d-flex justify-content-end p-2"
                                >
                                    <div style="min-width: 150px"></div>
                                </div>
                                <div class="p-3">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
