<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button
        id="sidebar-toggle-top"
        class="btn btn-link d-md-none rounded-circle mr-3"
        (click)="openSidebarMobile()"
    >
        <fa-icon [icon]="'bars'"></fa-icon>
    </button>

    <span class="h4 ps-3 d-none d-md-block text-capitalize">{{
        title$ | async | translate
    }}</span>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <div style="min-width: 150px">
                <select-language></select-language>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <button
                type="button"
                class="nav-link dropdown-toggle"
                (click)="toggleDropdown(alertsDropdown)"
            >
                <fa-icon [icon]="'bell'"></fa-icon>

                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
            </button>
            <!-- Dropdown - Alerts -->
            <div
                #alertsDropdown="ngbCollapse"
                [ngbCollapse]="true"
                [animation]="true"
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown"
            >
                <h6 class="dropdown-header">Alerts Center</h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <fa-icon
                                [icon]="'file-alt'"
                                class="text-white"
                            ></fa-icon>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold"
                            >A new monthly report is ready to download!</span
                        >
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <fa-icon
                                [icon]="'donate'"
                                class="text-white"
                            ></fa-icon>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <fa-icon
                                [icon]="'exclamation-triangle'"
                                class="text-white"
                            ></fa-icon>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        Spending Alert: We've noticed unusually high spending
                        for your account.
                    </div>
                </a>
                <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Show All Alerts</a
                >
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <button
                type="button"
                class="nav-link dropdown-toggle"
                (click)="toggleDropdown(messagesDropdown)"
            >
                <fa-icon [icon]="'envelope'"></fa-icon>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
            </button>
            <!-- Dropdown - Messages -->
            <div
                #messagesDropdown="ngbCollapse"
                [ngbCollapse]="true"
                [animation]="true"
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown"
            >
                <h6 class="dropdown-header">Message Center</h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img
                            class="rounded-circle"
                            src="img/undraw_profile_1.svg"
                            alt="..."
                        />
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">
                            Hi there! I am wondering if you can help me with a
                            problem I've been having.
                        </div>
                        <div class="small text-gray-500">
                            Emily Fowler · 58m
                        </div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img
                            class="rounded-circle"
                            src="img/undraw_profile_2.svg"
                            alt="..."
                        />
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            I have the photos that you ordered last month, how
                            would you like them sent to you?
                        </div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img
                            class="rounded-circle"
                            src="img/undraw_profile_3.svg"
                            alt="..."
                        />
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            Last month's report looks great, I am very happy
                            with the progress so far, keep up the good work!
                        </div>
                        <div class="small text-gray-500">
                            Morgan Alvarez · 2d
                        </div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img
                            class="rounded-circle"
                            src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                            alt="..."
                        />
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">
                            Am I a good boy? The reason I ask is because someone
                            told me that people say this to all dogs, even if
                            they aren't good...
                        </div>
                        <div class="small text-gray-500">
                            Chicken the Dog · 2w
                        </div>
                    </div>
                </a>
                <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                    >Read More Messages</a
                >
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <button
                type="button"
                class="nav-link dropdown-toggle"
                (click)="toggleDropdown(userDropdown)"
            >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >Douglas McGee</span
                >
                <img
                    class="img-profile rounded-circle"
                    src="img/undraw_profile.svg"
                />
            </button>
            <!-- Dropdown - User Information -->
            <div
                #userDropdown="ngbCollapse"
                [ngbCollapse]="true"
                [animation]="true"
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown"
            >
                <a class="dropdown-item" href="#">
                    <fa-icon
                        [icon]="['fas', 'user']"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <fa-icon
                        [icon]="['fas', 'cogs']"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <fa-icon
                        [icon]="'list'"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                >
                    <fa-icon
                        [icon]="'sign-out-alt'"
                        size="sm"
                        class="mr-2 text-gray-400"
                    ></fa-icon>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>
