/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import './mixin';
@import 'assets/scss/style';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    &:hover {
        opacity: 0.7;
    }
}

.required::after {
    content: ' *';
    color: red;
}
