<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<configuration>
    <property name="log_pattern" value="%date %level [%-36X{traceId}] [%c{1}.%M.%line] %msg%n"/>
    <property name="LOG_FILE" value="logs/app.log" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log_pattern}</Pattern>
        </layout>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log_pattern}</Pattern>
        </layout>
    </appender>

    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>%d{yyyy-MM-dd}.${LOG_FILE}</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log_pattern}</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="FileAppender" />
        <!--        <appender-ref ref="RollingFileAppender" />-->
    </root>

    <logger name="com.example.ecm" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="FileAppender" />
        <!--        <appender-ref ref="RollingFileAppender" />-->
    </logger>
</configuration>